/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: 'IBM Plex Serif', serif;
}
.menu{
  color:#000000;
}

.frase{
  font-family: 'IBM Plex Serif', serif;
  color:#ffffff;
}

.navegacion{
  background-color: #26a69a;
}
.parrafo-1{
  text-align: justify;
}

.parrafo-2{
  text-align: justify;
}

.parrafo-3{
  text-align: justify;
}

.parrafo-4{
  font-family: 'IBM Plex Serif', serif;
  color:#ffffff;
}

.frase-2{
  font-family: 'IBM Plex Serif', serif;
  color:#ffffff;

}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.saber-mas{
 text-align: justify; 
}

.nombre{
  font-family: 'PT Sans Narrow', sans-serif;
}
.user-1{
  width:100%;
}
.user-2{
width: 100%;
}
.user-3{
  width: 100%;
}

.segunda{
  width: 100%;
  background-color: #A5ECD7;
}
.quien{
  width:90%;
}

.como{
  width:90%;
}

.porque{
  width: 90%;
}

.escrito{
  text-align: justify;
}

.todo{
  color:#333333;
}
.imagen-1{
  width: 100%;
}

.bajada{
  text-align: center;
}

.personas{
 text-align: justify;
}

.como{
  width: 70%;
  margin-left: 15%;
}

.tel-1{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}
.tel-2{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}
.tel-3{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.titulo{
  color:#333333;
  text-align: center;
}

.invision{
  width: 50%;
  margin-left: 20%;
}

.marvel{
  width: 50%;
  margin-top: 10%;
  margin-left: 20%;
}

.todos{
  width: 70%;
  margin-left: 15%;
}
.area{
  height: 70vh;
}
.sasha{
  width: 70%;
  margin-left: 13%;
  border-radius:100%;
  border:1px solid black;
  margin-bottom: 10%;
}

.redes{
  background-color:#ffffff;
  line-height: 15%;
}
